Repository Vgate123/file-identify: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-deny

cargo-test:
  name: Rust tests (cargo test)
  entry: cargo test --all-features
  language: system
  pass_filenames: false

cargo-deny:
  name: Cargo deny (security audit)
  entry: cargo deny check
  language: system
  pass_filenames: false

Add release pipeline and fix compatibility issues
  .github/workflows/release.yml
  Cargo.toml
  README.md
  clippy.toml
  rustfmt.toml
  src/bin/main.rs
  src/extensions.rs
  src/interpreters.rs
  src/lib.rs
  src/tags.rs
  tests/cli_tests.rs
  tests/extensions_test.rs
  tests/integration_tests.rs
Due: cargo-test, cargo-deny

Fix release workflow permissions and add issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/release.yml
Due: none

Bump version to 0.1.1
  Cargo.toml
Due: cargo-test, cargo-deny

Update README dependency version to 0.1.1
  README.md
Due: none

Implement Perfect Hash Functions (PHF) for compile-time optimization
  CHANGELOG.md
  Cargo.toml
  README.md
  src/extensions.rs
  src/interpreters.rs
  src/lib.rs
  src/tags.rs
  tests/compatibility_test.rs
  tests/extensions_test.rs
  tests/integration_tests.rs
  tests/python_compatibility_test.rs
Due: cargo-test, cargo-deny

Bump version to 0.2.0
  CHANGELOG.md
  Cargo.toml
  README.md
Due: cargo-test, cargo-deny

Fix compatibility tests and improve code formatting
  src/lib.rs
  src/tags.rs
  tests/compatibility_test.rs
  tests/integration_tests.rs
  tests/python_compatibility_test.rs
Due: cargo-test

Remove Python compatibility tests and prepare for 0.2.0 release
  CHANGELOG.md
  tests/compatibility_test.rs
Due: cargo-test

Fix lifetime annotation for clippy warning
  src/lib.rs
Due: cargo-test

remove release section from readme
  README.md
Due: none

Update README.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
Due: none

Path conditions:
  cargo-test: any of: \.(rs|toml)$
  cargo-deny: any of: Cargo\.(toml|lock)$
